<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
    <!-- Setting the twitter avatar -->

      <!-- Profile picture and dropdown for logout, create home and bookings -->
        <ul class="nav navbar-nav">
        <li>
          <%= link_to "Raise an issue", new_post_path, class: "btn btn-primary raise" %>
          </li>
          <li>
          <%= link_to "Search issues around me", posts_path %>
          </li>
          <li>
          <%= link_to "My politicians", politicians_path %>
          </li>
        </ul>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.twitter_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% if current_user.as_politician %>
              <%= link_to "My Profile", politician_path(current_user.as_politician.id) %>
            <% else %>
              <%= link_to "My Account", edit_user_registration_path %>
            <% end %>
            </li>
            <li class="block-inline">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

    <!-- Login text link -->
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Raise an issue", new_post_path, class: "btn btn-primary raise" %>
         </li>
        <li>
          <%= link_to "Sign in", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

