  <div class="banner-background">
    <a class="container-arrow scroll-to" href="#focus">
      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    </a>
  </div>

  <div class="banner padded">

    <div class="banner-content padded-sm">
      <div class="anchor">
        <h1>Connect with local politicians on issues that matter<span class="green-period">.</span></h1>
        <div class="home-search">
        <%= render 'shared/search' %>
        </div>
      </div>
    </div>



 <!--    <div class="scroll-prompt">

    </div> -->

  </div>





  <div class="container most-voted">
    <h3 style = "font-size:34px; margin-top:100px; padding-bottom:20px;">Most popular issues<span class="green-period">.</span></h3>
    <div class="row padded-sm">
      <% @upvoted_posts.each do |popular_post| %>
      <div class="col-xs-12 col-md-4">
        <div class="issue-card bg-white">
          <%= link_to post_path(popular_post) do %>
          <div class="link-box">
          </div>
          <% end %>
          <div class="issue-card-neighbourhood">
            <%= popular_post.neighbourhood %>
          </div>
          <div class="issue-card-upvote">
            <%= popular_post.get_upvotes.size %>
            <%= link_to like_post_path(popular_post), method: :put do %>
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <% end %>
          </div>
          <%= link_to post_path(popular_post) do %>


          <div class="issue-card-title">
            <%= popular_post.title %>
          </div>
          <div class="issue-card-category">
            #<%= popular_post.category %>
          </div>

          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
