<h1>Connect with local politicians on issues that matter to you</h1>

<%= render 'shared/search' %>

<% if policy(Post).create? %>
<%= link_to "Raise an issue", new_post_path, class: "btn btn-primary" %>
<% end %>

<div class="container">
  <h3>Most popular issues</h3>
  <div class="row padded-sm">
    <% @upvoted_posts.each do |popular_post| %>
    <div class="col-xs-12 col-md-4">
      <div class="issue-card">
        <div class="issue-card-neighbourhood">
          <%= popular_post.neighbourhood %>
        </div>
        <div class="issue-card-upvote">
          <%= popular_post.get_upvotes.size %>
          <%= link_to "^", like_post_path(popular_post), method: :put %>
        </div>
        <%= link_to post_path(popular_post) do %>
        <div class="issue-card-photo">
          <% if popular_post.photo.present? %>
          <%= cl_image_tag popular_post.photo, width: 350, height: 200, crop: "fill" %>
          <% end %>
        </div>

        <div class="issue-card-text">
          <div class="issue-card-title">
            <%= popular_post.title %>
          </div>
          <div class="issue-card-category">
            #<%= popular_post.category %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
