
<h1>Smart Citizen is here to connect citizens and their local political figures on issues that matter</h1>
<%= render 'shared/search' %>
<%= link_to "Raise an issue", new_post_path, class: "btn btn-primary" %>

<h2>Here are the most upvoted posts of the week</h2>
<% @postrand.each do |post| %>
  <div class="card">
    <%= post.title %>
    <%= post.category %>
    <%= post.content %>
  </div>
<% end %>
