<div class="container form-background">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 form-content">

      <h2 class = "form-title"><%= t('.title') %><span class= "green-period">.</span></h2>
      <%= simple_form_for @post do |f| %>
        <%= f.input :title, placeholder: t('.title_placeholder'), input_html: {class: "box-input"} %>
        <%= f.input :content, label: t('.description_label'), placeholder: t('.description_placeholder'), input_html: {class: "box-input"} %>
        <%= f.input :category, label: t('.category_label'), input_html: {class: "box-input"} %>
        <%= f.input :city, placeholder: t('.city_placeholder'), collection: ApplicationRecord::CITIES, input_html: {class: "box-input select_city"} %>
        <%= f.input :neighbourhood, collection: ApplicationRecord::NEIGHBOURHOODS, input_html: {class: "box-input select_neightbourhood"}  %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.button :submit, t('.button') %>
      <% end %>
    </div>
  </div>
</div>
