<div class="container form-background">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 form-content">

      <h2 class = "form-title"><%= t('.title') %><span class= "green-period">.</span></h2>
      <%= simple_form_for @post do |f| %>
      <%= f.input :title, label: t('.title_label'), placeholder: t('.title_placeholder'), input_html: {class: "box-input"} %>
      <%= f.label :content, t('.description_label') %>
      <span class="counter-field">
        <span id="counter">0</span> <%= t('.characters') %>
      </span>
      <%= f.input :content, label: false, placeholder: t('.description_placeholder'), input_html: {class: "box-input, post-content"} %>
      <div class="hashtag-input">
        <%= f.label :category, t('.category_label') %>
        <span class="fa fa-hashtag"></span>
        <%= f.input :category, label: false, input_html: {class: "box-input"} %>
      </div>

      <%= f.input :city, label: t('.city_label'), placeholder: t('.city_placeholder'),  collection: ApplicationRecord::CITIES, input_html: {class: "box-input select_city"} %>
      <%= f.input :neighbourhood, label: t('.neighbourhood_label'), placeholder: t('.neighbourhood_placeholder'), collection: ApplicationRecord::NEIGHBOURHOODS, input_html: {class: "box-input select_neightbourhood"}  %>
      <%= f.input :photo, label: t('.photo_label') %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.button :submit, t('.button') %>
      <% end %>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  $("#post_content").on("keyup", function(){
    length = $(this).val().length;
    $("#counter").html(length);
  });
</script>
