<div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <%= link_to "Raise an issue", new_post_path, class: "btn btn-primary" %>
        <div class="col-xs-6">
        You are searching for issues in
        <%= @neighbourhood %>
          <%= render 'filter' %>
        </div>
        <h5 style = "display: inline-block"><%= link_to "Your Politicians", politicians_path %></h5>
      </div>
    </div>

    <% @posts.each do |post| %>
    <div class="col-xs-4 card">
        <%= link_to post_path(post) do %>
          <h3><%= post.title %></h3>
          <span><%= post.city %> | <%= post.neighbourhood %></span>
          <h5><%= post.category %></h5>
          <% end %>
          <p> Upvote: <%= post.get_upvotes.size %> </p>
          <%= link_to like_post_path(post), method: :put do %>
            Upvote
          <% end %>
          <p> Downvote: <%= post.get_downvotes.size %> </p>
    </div>
    <% end %>
</div>

