<h1>Create your issue</h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :category %>
  <%= f.input :city %>
  <%= f.input :neighbourhood, collection: ApplicationRecord::NEIGHBOURHOODS %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <p> Select a politician who you would like to respond</p>
  <%= f.input :users, as: :check_boxes, required: true, autofocus: true, collection: User.list_of_users_as_politicians, :label_method => lambda { |item| "#{item.first_name} #{item.last_name} <img src='#{item.as_politician.photo.url.nil? ? 'http://insight.venturebeat.com/sites/all/modules/features/vb_intel_analysts/assets/images/analyst-placeholder-avatar.png' : item.as_politician.photo.url }'>".html_safe }%>

  <%= f.button :submit %>
<% end %>
