<h1>Create your post</h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :category %>
  <%= f.input :city %>
  <%= f.input :neighbourhood, collection: ApplicationRecord::NEIGHBOURHOODS %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <p> Select a relevent party to answer your question</p>
  <%= f.input :users, required: true, autofocus: true, collection: User.list_of_users_as_politicians, :label_method => lambda { |item| "#{item.email}".html_safe }%>

  <%= f.button :submit %>
<% end %>
