<h1>Post title:<%= @post.title %></h1>
<p>post category: <%= @post.category %></p>
<p>post content: <%= @post.content %></p>
<p>post city: <%= @post.city %></p>
<p>post neighbourhood: <%= @post.neighbourhood %></p>


<p>post author: <%= @post.user.email %></p>
<p> Post replies:</p>
<% if !@post.comments.nil? %>
 <% @post.comments.each do |a| %>
   <p>author - <%= a.user.email %> </p>
   <p>reply - <%= a.content %> </p>
 <%end %>
<% else %>
   <p> none </p>
<% end %>


<%= link_to "Are you a politician? Reply to this", new_post_comment_path(@post) %>

<% if current_user %>
  <%= link_to "Not a politician? join the conversation", edit_politican_path %>
<% end %>
