<h1>Post title:<%= @post.title %></h1>
<p>post category: <%= @post.category %></p>
<p>post content: <%= @post.content %></p>
<p>post city: <%= @post.city %></p>
<p>post neighbourhood: <%= @post.neighbourhood %></p>
  <%= cl_image_tag @post.photo %>

<% if policy(@post).edit? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<% if policy(@post).destroy? %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<p>post author: <%= @post.user.email %></p>
<p> Post replies:</p>
<% if !@post.comments.blank? %>
<% @post.comments.each do |a| %>
<p>author - <%= a.user.email %> </p>
<p>reply - <%= a.content %> </p>
<%end %>
<% else %>
<p> none </p>
<% end %>

<h2>Politicians tagged in this post:</h2>
<% @post.users.each do |politician| %>
  <p>
  <%= politician.email  %>
  </p>
    <p>This politician is not currently on the platform. You should send him/her an email or retweet the issue:</p>
      <% if politician.as_politician.verified == false  %>
        <%= mail_to "#{politician.email}", "Email", html_options = { subject: "I would like your opinion on...", body: "Dear representative, \n I would like to have your opinion on the subject of #{@post.title}: could you please join SmartCitizen to address my concerns and that of others? You can reply directly at http://www.smartcitizen.yeah/post/#{@post.id}\n Thank you in advance,\n"} %>

          <% text = "I would like to have your opinion on #{@post.title}: please join us http://www.smartcitizen.yeah/post/#{@post.id} to answer us" %>

          <a href="https://twitter.com/intent/tweet?screen_name=<%= politician.as_politician.twitter_handle %>&text=<%= CGI.escape(text) %>" class="twitter-mention-button" data-show-count="false">
            Tweet to <%= politician.as_politician.twitter_handle %>
          </a>

        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <% end %>
<% end %>


<% if current_user %>
  <% if current_user.as_politician %>
    <%= link_to "reply", new_post_comment_path(@post) %>
  <% else %>

    <p>Are you running for office?</p>
    <%= link_to "Create a politician profile and join the conversation", new_politician_path %>
  <% end %>
<% else %>
  <p>Are you an elected official?</p>
  <%= mail_to "claimprofile@smartcitizen.org", "Claim your profile and join the conversation", html_options = { subject: "Claim my public profile", body: "Hi Smart Citizen, \n I would like to claim the public profile for the elected office in the above email address. \n Thank you in advance,\n"} %>

<% end %>

<h3>Related Posts</h3>
<% if @related_posts.empty? %>
  <p>none yet</p>
<% else %>
  <% @related_posts.each do |related_post| %>
    <div class="post-card">
      <%= link_to post_path(related_post) do %>
      <p><strong>Title: <%= related_post.title %></strong></p>
      <% end %>
      <p>Category: <%= related_post.category %></p>
      <p>Content: <%= related_post.content %></p>
      <p>Neighbourhood: <%= related_post.neighbourhood %></p>
      <p>Author: <%= related_post.user.email %></p>
    </div>
<% end %>
<% end %>
