<h1>Post title:<%= @post.title %></h1>
<p>post category: <%= @post.category %></p>
<p>post content: <%= @post.content %></p>
<p>post city: <%= @post.city %></p>
<p>post neighbourhood: <%= @post.neighbourhood %></p>
  <%= cl_image_tag(@post.photo.url) %>
  <%= image_tag @post.photo.url %>


<p>post author: <%= @post.user.email %></p>
<p> Post replies:</p>
<% if !@post.comments.nil? %>
 <% @post.comments.each do |a| %>
   <p>author - <%= a.user.email %> </p>
   <p>reply - <%= a.content %> </p>
 <%end %>
<% else %>
   <p> none </p>
<% end %>

<% if current_user %>
  <% if current_user.as_politician %>
    <%= link_to "reply", new_post_comment_path(@post) %>
  <% else %>
    <%= link_to "reply", edit_politician_path %>
  <% end %>
<% else %>
  <%= link_to "join the conversation", new_user_registration_path %>
<% end %>
