<h1>Post title:<%= @post.title %></h1>
<p>post category: <%= @post.category %></p>
<p>post content: <%= @post.content %></p>
<p>post city: <%= @post.city %></p>
<p>post neighbourhood: <%= @post.neighbourhood %></p>


<p>post author: <%= @post.user.email %></p>
<p> Post replies:</p>
<% if !@post.comments.nil? %>
 <% @post.comments.each do |a| %>
   <p>author - <%= a.user.email %> </p>
   <p>reply - <%= a.content %> </p>
 <%end %>
<% else %>
   <p> none </p>
<% end %>

<% if current_user %>
  <% if current_user.as_politician %>
    <%= link_to "reply", new_post_comment_path(@post) %>
  <% else %>
    <p>Are you running for office?</p>
    <%= link_to "Create a politician profile and join the conversation", edit_politician_path %>
  <% end %>
<% else %>
  <p>Are you an elected official?</p>
  <%= mail_to "claimprofile@smartcitizen.org", "Claim your profile and join the conversation", html_options = { subject: "Claim my public profile", body: "Hi Smart Citizen, \n I would like to claim the public profile for the elected office in the above email address. \n Thank you in advance,\n"} %>
<% end %>
