<div class="container-issues">
  <div class="issues-navigation">
    <p>Issues <span class="green-arrow">></span> <%= @post.city %> <span class="green-arrow">></span> <%= @post.neighbourhood %></p>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="issues-title padded-sm">
        <h1><%= @post.title %><span class="green-period">.</span></h1>

          <span class = "grey-subtitle">Tags</span> <span class = "green-subtitle">#<%= @post.category %></span>
      </div>



      <div class="issues-content">
        <p><%= @post.content %></p>
        <% if policy(@post).edit? %>
        <%= link_to edit_post_path(@post) do %>
        <span class="fa fa-pencil"></span>
        <% end %>
        <% end %>

        <% if policy(@post).destroy? %>
        <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" } do %>
        <span class="fa fa-trash-o"></span>
        <% end %>
        <% end %>

          <span class = "grey-subtitle">Posted</span>


          <span class = "green-subtitle"><%= @post.created_at.strftime("%e/%m/%y") %></span>
      <div class="show-button">
        <% if current_user %>
          <% if current_user.as_politician %>
            <%= link_to "Reply", new_post_comment_path(@post), class: "btn btn-outline-primary" %>

          <% else %>
            <%= link_to "Add your input on this issue", new_post_path, class: "btn btn-outline-primary" %>
            <%= link_to "Create a politician profile and join the conversation", new_politician_path, class: "btn btn-outline-primary" %>
          <% end %>
        <% else %>
          <p>Are you an elected official?</p>
          <%= mail_to "claimprofile@smartcitizen.org", "Claim your profile and join the conversation", html_options = { subject: "Claim my public profile", body: "Hi Smart Citizen, \n I would like to claim the public profile for the elected office in the above email address. \n Thank you in advance,\n"} %>
        <% end %>
      </div>
      </div>

      <div class="issues-replies">
        <h2>Replies ( <%= @post.comments.count %> )</h2>
        <% if !@post.comments.blank? %>
        <% @post.comments.each_with_index do |a, index| %>
        <div id="block<%= index %>" class="issues-replier toggle">
          <h4><%= a.user.first_name %> <%= a.user.last_name %> <%= a.created_at.strftime("%e/%m/%y") %></h4>
        </div>
        <div id="block<%= index %>-content" class="issues-replies-text">
          <p><%= a.content %> </p>
        </div>
        <% end %>
        <% else %>
        <p></p>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="issues-upvote" data-balloon="Upvote this issue!" data-balloon-pos="up">
        <%= @post.get_upvotes.size %>
        <%= link_to like_post_path(@post), method: :put do %>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="issues-prepositions">
        <h5>By</h5>
      </div>
      <div class="issues-details">
        <h5><%= @post.user.email %></h5>
      </div>
      <div class="issues-prepositions">
        <h5>To</h5>
      </div>
      <div class="issues-details">
        <% @post.users.each do |politician| %>
        <h5><%= politician.first_name %> <%= politician.last_name %></h5>
        <% if politician.as_politician.verified == false  %>
        <p><%= mail_to "#{politician.email}", html_options = { subject: "I would like your opinion on...", body: "Dear representative, \n I would like to have your opinion on the subject of #{@post.title}: could you please join SmartCitizen to address my concerns and that of others? You can reply directly at http://www.smartcitizen.yeah/post/#{@post.id}\n Thank you in advance,\n"} do %>
          <div class = "mail-contact">
            <span class="fa fa-envelope-o"> </span> <span class = "prompt"> Email this to <%= politician.first_name %></span>
          </div>
          <% end %>

          <% text = "I would like to have your opinion on #{@post.title}: please join us http://www.smartcitizen.yeah/post/#{@post.id} to answer us" %>

          <a href="https://twitter.com/intent/tweet?screen_name=<%= politician.as_politician.twitter_handle %>&text=<%= CGI.escape(text) %>" class="twitter-mention-button" data-show-count="false">
            Tweet to <%= politician.as_politician.twitter_handle %>
          </a>

          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
          <% end %>
          <% end %>
        </div>

        <div class="issues-details">
          <% @post.comments.each do |a| %>
          <h5><%= a.user.first_name %> <%= a.user.last_name %></h5>
          <% end %>
        </div>


        <div class="issues-prepositions">
          <h5>Photos</h5>
        </div>
        <%= cl_image_tag @post.photo, class: "img-responsive" %>
      </div>
    </div>

    <div class="row">
      <div class="issues-related">
        <h2>More on #<%= @post.category %> ( <%= @related_posts.count %> )</h2>
        <% if @related_posts.empty? %>
        <p></p>
        <% else %>
        <% @related_posts.each do |related_post| %>
        <div class="col-xs-12 col-lg-4">
          <div class="issue-card-search">
            <div class="issue-card-neighbourhood">
              <%= related_post.neighbourhood %>
            </div>
            <div class="issue-card-upvote">
              <%= related_post.get_upvotes.size %>
              <%= link_to "^", like_post_path(@post), method: :put %>
            </div>
            <%= link_to post_path(related_post) do %>
            <span class="issue-card-text">
              <span class="issue-card-title-search">
                <%= related_post.title %>
              </span>
              <span class="issue-card-category">
                <%= related_post.category %>
              </span>
            </span>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>



