<h1>Add your profile information</h1>
<%= simple_form_for @political_info, url: politician_path, method: 'PATCH' do |f| %>
  <%= f.input :elected %>
  <%= f.input :political_party %>
  <%= f.input :office %>
  <%= f.input :bio %>
  <%= f.input :responsabilities %>
  <%= f.button :submit %>
<% end %>
