<div class="container-issues" id="politicians-index">
  <div class="politicians-navigation">
    <h2><%= t('.page_nav') %></h2><h3><span class="green-arrow"> > </span>Barcelona</h3>
  </div>
  <div class="row index-nav">
    <div class="col-lg-6">
      <div class="politician-profile-message">
        <span><%= t('.run_office') %></span>
        <span><%= link_to t('.new_profile'), new_politician_path %></span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="politician-tabs">
        <div class="politician-showing">
          <span><%= t('.politician_showing') %></span>
        </div>
        <div class="politician-elected">
          <div class="politician-active">
            <%= link_to (politicians_path) do  %>
              <span onclick="showElected"><%= t('.politician_elected') %></span>
            <% end %>
          </div>
          <span> / </span>
          <%= link_to politicians_path(filter: "all") do  %>
            <span onclick="showAll"><%= t('.politician_all') %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row politicians-list">
    <% @politicians.each do |a| %>
    <div class="col-lg-6 col-xl-6 col-sm-10 col-md-10 col-xs-11 mobile-fit">
      <% if a.elected? %>
        <div class="politician-card politician-card-search">
      <% else %>
        <div class="politician-card politician-card-search">
      <% end %>
        <%= link_to politician_path(a) do %>
        <div class="link-box">
        </div>
        <% end %>

        <div class="politician-photo-index">
          <% if a.photo.try(:file).try(:public_id) %>
          <%= image_tag a.photo, class: "cloudinary-image",responsive_width: true, crop: "scale" %>
          <% else %>
          <%= image_tag a.default_picture_url, class: "cloudinary-image",responsive_width: true, crop: "scale"  %>
          <% end %>
        </div>

        <div class="politician-info-index">
            <h4><%= a.user.first_name %> <%= a.user.last_name %></h4>
            <div class="issues-prepositions">
              <h5><%= t('.office') %></h5>
            </div>
            <div class="issues-details">
              <h5><%= a.office %></h5>
            </div>
            <div class="issues-prepositions">
              <h5><%= t('.political_party') %></h5>
            </div>
            <div class="issues-details">
              <h5><%= a.political_party %></h5>
            </div>

            <div class="ratings">
              <div class="politician-verified-index">
                <% if a.verified == true %>
                <span><%= t('.verified')%></span>   <%= image_tag("tick.png", class: "custom-icon") %>
                  <% else %>
                  <span><%= t('.not_verified') %></span>   <%= image_tag("cross.png", class: "custom-icon") %>
                  <% end %>
              </div>

                <div class="politician-rating">
                  <% if a.user.comments.count <= 2 %>
                  <h5><%= t('.unresponsive_rating') %></h5>  <%= image_tag("cross.png", class: "custom-icon") %>
                  <% elsif a.user.comments.count >= 2 && a.user.comments.count <= 10 %>
                  <h5><%= t('.responsive_rating') %></h5>   <%= image_tag("tick.png", class: "custom-icon") %>
                  <% else %>
                  <h5><%= t('.highly_responsive_rating') %></h5>   <%= image_tag("tick.png", class: "custom-icon") %>
                  <% end %>
                </div>

            </div>
         </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
