<div class="container-issues">
  <div class="politicians-navigation">
    <h2>Politicians</h2><h3><span class="green-arrow"> > </span><%= current_user.city %></h3>
  </div>
  <div class="row index-nav">
    <div class="col-lg-6">
      <div class="politician-profile-message">
        <span>Running for office?</span>
        <span><%= link_to "Create your politician profile", new_politician_path %></span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="politician-tabs">
        <div class="politician-showing">
          <span>Showing:</span>
        </div>
        <div class="politician-elected">
          <div class="politician-active">
            <span>Elected</span>
          </div>
          <span> / </span>
          <span>All politicians</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row politicians-list">
    <% @politicians.each do |a| %>
    <div class="col-lg-6">
      <div class="politician-card politician-card-search">
        <%= link_to politician_path(a) do %>
        <div class="link-box">
        </div>
        <% end %>

        <div class="politician-photo-index">
          <% if a.photo.try(:file).try(:public_id) %>
          <%= image_tag a.photo, class: "cloudinary-image",responsive_width: true, crop: "scale" %>
          <% else %>
          <%= image_tag a.default_picture_url, class: "cloudinary-image",responsive_width: true, crop: "scale"  %>
          <% end %>
        </div>

        <div class="politician-info-index">
          <div class="politician-verified-index">
            <% if a.verified == true %>
            <span>Verified
              <i class="fa fa-check"></i></span>
              <% else %>
              <span>Not Verified</span>
              <% end %>
            </div>
            <h4><%= a.user.first_name %> <%= a.user.last_name %></h4>
            <div class="issues-prepositions">
              <h5>Office</h5>
            </div>
            <div class="issues-details">
              <h5><%= a.office %></h5>
            </div>
            <div class="issues-prepositions">
              <h5>Political party</h5>
            </div>
            <div class="issues-details">
              <h5><%= a.political_party %></h5>
            </div>
            <div class="politician-rating">
              <% if a.user.comments.count <= 2 %>
              <h5>Unresponsive</h5>
              <% elsif a.user.comments.count >= 2 && a.user.comments.count <= 10 %>
              <h5>Responsive</h5>
              <% else %>
              <h5>Highly Responsive"</h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
