<h1>Add your profile information</h1>
<%= simple_form_for @user_as_politician, url: politicians_path do |f| %>
<%= f.input :elected %>
<%= f.input :political_party %>
<%= f.input :office %>
<%= f.input :bio %>
<%= f.input :responsabilities %>
<%= f.input :twitter_handle %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.button :submit %>
<% end %>

