<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

    <h2 class="form-title"><%= t('.title') %><span class="green-period">.</span></h2>

      <%= simple_form_for @user_as_politician, url: politicians_path do |f| %>
      <%= f.input :elected, label: t('.elected_label') %>
      <%= f.input :political_party, label: t('.party_label'), placeholder: t('.party_placeholder'), input_html: {class: "box-input"} %>
      <%= f.input :office, label: t('.office_label'), placeholder: t('.office_placeholder'), input_html: {class: "box-input"} %>
      <%= f.input :bio, label: t('.bio_label'), placeholder: t('.bio_placeholder'), input_html: {class: "box-input"} %>
      <%= f.input :responsabilities, label: t('.responsibilities_label'), placeholder: t('.responsibilities_placeholder'), input_html: {class: "box-input"} %>
      <%= f.input :twitter_handle, label: t('.twitter_label'), input_html: {class: "box-input"} %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, t('.button') %>
      <% end %>

    </div>
  </div>
</div>
