<div class="container-issues politician-show">
  <div class="row no-margin-right">
    <div class="politician-info">

      <!-- PHOTO -->
      <div class="col-sm-3 col-xs-12">
        <div class="politician-photo padded-sm">
          <% if @user_as_politician.photo.try(:file).try(:public_id) %>
          <%= image_tag @user_as_politician.photo, class: "cloudinary-image",responsive_width: true, crop: "scale" %>
          <% else %>
          <%= image_tag @user_as_politician.default_picture_url, class: "cloudinary-image",responsive_width: true, crop: "scale"  %>
          <% end %>
        </div>
        <div class="politician-edit-profile">
          <% if policy(@user_as_politician).edit? %>
          <%= link_to edit_politician_path(@user.as_politician) do %>
          <span class="fa fa-pencil"></span>
          <span><%= t('.edit_profile') %></span>
          <% end %>
          <% end %>
        </div>
      </div>

      <!-- GENERAL INFO -->
      <div class="col-sm-6 col-xs-12 general-info">
        <div class="politician-header padded-sm">
          <h2 class = "politican-title" style = "display:inline-block;"><%= @user.first_name %> <%= @user.last_name %></h2>
          <i class="fa fa-twitter blue-twitter"></i>
          <% if @user_as_politician.verified %>
          <div class="politician-verified">
            <span><%= t('.verified') %>
              <i class="fa fa-check"></i></span>
            </div>
            <% end %>
          </div>
          <div class="politician-bio">
            <% if @user.as_politician.responsabilities.present? %>
            <p><strong><%= t('.responsabilities') %> </strong><%= @user_as_politician.responsabilities %></p>
            <% end %>
            <% if @user.as_politician.bio.present? %>
            <p><%= @user_as_politician.bio %></p>
            <% else %>
            <p><%= t('.no_bio') %></p>
            <% end %>
          </div>
        </div>

        <!-- RATINGS / PARTY -->
        <div class="col-sm-3 col-xs-12">
          <div class="politician-other padded-sm">

          <div class="row">
           <div class="col-xs-6 col-xs-push-6 col-sm-push-0 col-sm-12 no-padding">
             <div class="col-xs-12 no-padding">
                <div class="issues-prepositions">
                  <h5>Replies</h5>
                </div>
                <div class="issues-details">
                  <h5 class = "reply-count"><%= @user.comments.count %></h5>
                </div>
              </div>
              <div class="ratings visible-xs col-xs-12 no-padding">
                  <div class="politician-verified-index">
                    <% if @user.as_politician.verified == true %>
                    <span>Verified</span>   <%= image_tag("tick.png", class: "custom-icon") %>
                      <% else %>
                      <span>Not Verified</span>   <%= image_tag("cross.png", class: "custom-icon") %>
                      <% end %>
                  </div>

                  <div class="politician-rating">
                    <% if @user.comments.count <= 2 %>
                    <h5>Unresponsive</h5>  <%= image_tag("cross.png", class: "custom-icon") %>
                    <% elsif @user.comments.count >= 2 && @user.comments.count <= 10 %>
                    <h5>Responsive</h5>   <%= image_tag("tick.png", class: "custom-icon") %>
                    <% else %>
                    <h5>Highly Responsive"</h5>   <%= image_tag("tick.png", class: "custom-icon") %>
                    <% end %>
                  </div>
              </div>
            </div>

            <div class="col-xs-6 col-xs-pull-6 col-sm-pull-0 col-sm-12 no-padding">
                <div class="issues-prepositions" id="office">
                  <h5>Office</h5>
                </div>
                <div class="issues-details" id="office">
                  <h5><%= @user_as_politician.office %></h5>
                </div>
                <div class="issues-prepositions" id="party">
                  <h5>Political party</h5>
                </div>
                <div class="issues-details" id="party">
                  <h5><%= @user_as_politician.political_party %></h5>
                </div>

            </div>
            <div class="ratings hidden-xs">
              <div class="politician-verified-index">
                <% if @user.as_politician.verified == true %>
                <span>Verified</span>   <%= image_tag("tick.png", class: "custom-icon") %>
                  <% else %>
                  <span>Not Verified</span>   <%= image_tag("cross.png", class: "custom-icon") %>
                  <% end %>
              </div>
              <div class="politician-rating">
                <% if @user.comments.count <= 2 %>
                <h5>Unresponsive</h5>  <%= image_tag("cross.png", class: "custom-icon") %>
                <% elsif @user.comments.count >= 2 && @user.comments.count <= 10 %>
                <h5>Responsive</h5>   <%= image_tag("tick.png", class: "custom-icon") %>
                <% else %>
                <h5>Highly Responsive"</h5>   <%= image_tag("tick.png", class: "custom-icon") %>
                <% end %>
              </div>
            </div>
           </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="politician-replies">
        <h4 class = "grey-subtitle"><%= t('.politician_replies', politician: @user.first_name) %> ( <%= @user.comments.count %> )</h4>
        <% if @user.comments.present? %>
        <% @user.comments.each do |comment|  %>
        <% comment.posts.each do |commented_post| %>
        <div class="col-xs-12 col-md-4">
          <div class="issue-card-search border-gray">
            <%= link_to post_path(commented_post) do %>
            <div class="link-box">
            </div>
            <% end %>
            <div class="issue-card-neighbourhood">
              <%= commented_post.neighbourhood %>
            </div>
            <div class="issue-card-upvote">
              <%= commented_post.get_upvotes.size %>
              <%= link_to like_post_path(commented_post), method: :put do %>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
              <% end %>
            </div>
            <span class="issue-card-text">
              <span class="issue-card-title-search">
                <%= commented_post.title %>
              </span>
            </span>
            <span class="issue-card-category">
              #<%= commented_post.category %>
            </span>
          </div>
        </div>
        <% end %>
        <% end %>
        <% else %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="politician-tags">
        <h4 class = "grey-subtitle"><%= t('.tagged_issues', politician: @user.first_name) %> ( <%= @user.tagged_in.count %> )</h4>
        <% if @user.tagged_in.present? %>
        <% @user.tagged_in.each do |post|  %>
        <div class="col-xs-12 col-md-4">
          <div class="issue-card-search border-gray">
            <%= link_to post_path(post) do %>
            <div class="link-box">
            </div>
            <% end %>
            <div class="issue-card-neighbourhood">
              <%= post.neighbourhood %>
            </div>
            <div class="issue-card-upvote">
              <%= post.get_upvotes.size %>
              <%= link_to like_post_path(post), method: :put do %>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
              <% end %>
            </div>
            <span class="issue-card-text">
              <span class="issue-card-title-search">
                <%= post.title %>
              </span>
            </span>
            <span class="issue-card-category">
              <%= post.category %>
            </span>
          </div>
        </div>
        <% end %>
        <% else %>
        <p><%= t('.no_tagged_issues') %></p>
        <% end %>
      </div>
    </div>

  </div>
