<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <% if @user_as_politician.elected %>
    <p><b>Elected </b></p>
    <% end %>
    <p><%= @user_as_politician.political_party %></p>
    <p><%=@user_as_politician.office %></p>
    <p><%=@user_as_politician.bio %></p>
    <p><%= @user_as_politician.responsabilities %></p>
    <% if @user_as_politician.photo.try(:file).try(:public_id) %>
      <%= cl_image_tag @user_as_politician.photo %>
    <% else %>
      <%= image_tag @user_as_politician.default_picture_url  %>
    <% end %>


    <p>Here are their answers to some issues: </p>
      <ul>
        <% @user.comments.each do |comment|  %>
          <%= link_to post_path(comment.posts[0]) do %>
            <li>
              <%= comment.content %>
            </li>
          <% end %>
        <% end %>
      </ul>

    <p>All the issues assigned to her/him with :</p>
      <ul>
        <% @user.tagged_in.each do |post|  %>
          <li>
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
              <%= post.content %>
              <%= post.title %>
              <%= post.category %>
          </li>
        <% end %>
      </ul>


<%= link_to "Edit", edit_politician_path(params[:id]) %>

<%= link_to "Delete", politician_path(params[:id]), method: :delete %>
