<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <% if @user_as_politician.elected %>
    <p><b>Elected </b></p>
    <% end %>
    <p><%= @user_as_politician.political_party %></p>
    <p><%=@user_as_politician.office %></p>
    <p><%=@user_as_politician.bio %></p>
    <p><%= @user_as_politician.responsabilities %></p>



    <% if @user_as_politician.photo.file.public_id %>
      <%= cl_image_tag @user_as_politician.photo %>
    <% else %>
      <%= image_tag @user_as_politician.default_picture_url  %>
    <% end %>

<%= link_to "Edit", edit_politician_path(params[:id]) %>

<%= link_to "Delete", politician_path(params[:id]), method: :delete %>
